* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.8rem;
    color: #333333;
}

.container {
    margin: 0 auto;
    padding: 0 1.6rem;
    max-width: 80%;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#result-image {
    /* width: 100%; */
    height: auto;
    max-width: 50vw;
    max-height: 70vh;
}
.masonry-wrapper {
    padding: 1.5em;
    /* max-width: 960px; */
    margin-right: auto;
    margin-left: auto;
}

.masonry {
    display: grid;
    grid-template-columns: repeat(1, minmax(100px,1fr));
    grid-gap: 30px;
    grid-auto-rows: 0;
}
@media only screen and (max-width: 1023px) and (min-width: 768px) {
.masonry {
    grid-template-columns: repeat(2, minmax(100px,1fr));
}
}
@media only screen and (min-width: 1024px) {
.masonry {
    grid-template-columns: repeat(4, minmax(100px,1fr));
}
}
.masonry-item, .masonry-content {
    border-radius: 5px;
    max-width: 300px;
    overflow: hidden;
}
.masonry-item {
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, .3));
    transition: filter .25s ease-in-out;
}
.masonry-item:hover {
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, .3));
}