beautifulsoup4==4.8.2
requests==2.22.0
selenium==3.141.0
nltk==3.4.4
pandas==0.25.3
numpy==1.17.3
jupyter_core==4.6.1
jupyter_client==5.3.4
jupyter_console==6.0.0
matplotlib==3.1.2
pytorch==1.3.1
jupyter==1.0.0
pillow==7.0.0
